# Dependencies
node_modules/

# Build output
dist/

# Rust / Tauri
src-tauri/target/
src-tauri/WixTools/
src-tauri/Frameworks/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.swp

# Env
.env
.env.*
